@page "/"
@using System.IO
@using System.Text;
@inject IJSRuntime JS

<MudThemeProvider />
<MudGrid>
    <MudItem Class="align-left">
        <MudContainer MaxWidth="MaxWidth.Medium">
            <h1>Smart Targets</h1>

            Want to perform a targeted protein assay in human tissue but are unsure your target is abundant enough or supported by good commercial
            antibodies? We do too, so we sought to make this planning step easier. By combining publicly accessible data on proteins in tissue, we
            hope you can make smart target decisions.
            <MudSpacer></MudSpacer>
            <br />

            <MudGrid>
                <MudItem xs="12" Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudImage Src="Images/SmartTargets.jpg" Alt="SmartTargets diagram" Elevation="0" Class="rounded-lg" Width="700" />
                </MudItem>
            </MudGrid>

            <br />
            <h3>Data Sources</h3>
            <h6>Protein Abundance from Bottom-up Proteomics</h6>
            <MudSpacer></MudSpacer>

            We derive protein abundance in human tissue from two bottom-up proteomics (BUP) studies.
            <MudLink Href=@("https://www.proteinatlas.org/") Target="_blank">The Human Protein Atlas Consortium</MudLink>
            performed label-free BUP on 29 tissue samples.<sup>1</sup> Tryptic peptides were analyzed by a Q-Exactive Plus mass spectrometer coupled to nanoflow liquid chromatography.
            Label-free quantitation was performed with MaxQuant using the iBAQ approach. In a separate study, the
            <MudLink Href=@("https://gtexportal.org/home/") Target="_blank">Genotype-Tissue Expression (GTEx) Consortium</MudLink>
            performed quantitative bottom-up proteomics of 201 samples from 32 different tissue types from 14 healthy donors using tandem-mass-tag (TMT) 10plex/MS3
            quantitation.<sup>2</sup> In each TMT10plex run, eight tissue samples and two pooled reference samples were included. Since direct comparison of protein abundances
            across BUP studies is difficult, we instead chose to use the more transferable normalized rank to compare abundances. Normalized abundances range 0 to 1
            where 1 corresponds to the most abundance protein and proteins not detected have a normalize rank of 0.
            <MudSpacer></MudSpacer>

            <br />
            <MudGrid>
                <MudItem xs="12" Class="d-flex align-center justify-center mud-width-full py-8">
                    <MudImage Src="Images/SampleDiagram.jpg" Alt="Sample diagram" Elevation="0" Class="rounded-lg" />
                </MudItem>
            </MudGrid>


            <MudSpacer></MudSpacer>
            <br />

            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" @onclick="@((e) => DownloadFileFromStream(@"Resources/bup_data.tsv", "bup_data.tsv"))">
                Download Bottom Up Data
            </MudButton>
            <br />
            <br />

            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" @onclick="@((e) => DownloadFileFromStream(@"Resources/literature_data.tsv", "literature_data.tsv"))">
                Download Literature Data
            </MudButton>
            <br />
            <br />

            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" @onclick="@((e) => DownloadFileFromStream(@"Resources/antibody_table_unconjugated_with_counts.tsv", "antibody_table_unconjugated.tsv"))">
                Download Antibody Table Data
            </MudButton>

            <br />
            <br />
            <MudButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small" @onclick="@((e) => DownloadFileFromStream(@"Resources/antibody_count_unconjugated.tsv", "antibody_count_unconjugated.tsv"))">
                Download Antibody Count Data
            </MudButton>
            <MudSpacer></MudSpacer>
            <br />

            <h6>References</h6>
            <MudSpacer></MudSpacer>
            1. Wang, D.; Eraslan, B.; Wieland, T.; Hallström, B.; Hopf, T.; Zolg, D. P.; Zecha, J.; Asplund, A.; Li, L.; Meng, C.; Frejno, M.; Schmidt, T.; Schnatbaum, K.; Wilhelm, M.; Ponten, F.; Uhlen,
            M.; Gagneur, J.; Hahne, H.; Kuster, B. A Deep Proteome and Transcriptome Abundance Atlas of 29 Healthy Human Tissues. Mol Syst Biol 2019, 15 (2), e8503.
            <MudLink Href="https://doi.org/10.15252/msb.20188503" Target="_blank">https://doi.org/10.15252/msb.20188503</MudLink>.
            <MudSpacer></MudSpacer>
            2. Jiang, L.; Snyder, M. P. A Quantitative Proteome Map of the Human Body. Cell 2020, 183 (1), 269-283.e19.
            <MudLink Href="https://doi.org/10.1016/j.cell.2020.08.036" Target="_blank">https://doi.org/10.1016/j.cell.2020.08.036</MudLink>.
        </MudContainer>
    </MudItem>
</MudGrid>

@code {


    private Stream GetFileStream(string file)
    {
        UnicodeEncoding uniEncoding = new UnicodeEncoding();
        var binaryFile = uniEncoding.GetBytes(file);
        var fileStream = new MemoryStream(binaryFile);
        return fileStream;
    }

    private async Task DownloadFileFromStream(string file, string fileName)
    {
        byte[] fileBytes = System.IO.File.ReadAllBytes(file);
        var fileStream = new MemoryStream(fileBytes);
        using var streamRef = new DotNetStreamReference(stream: fileStream);
        await JS.InvokeVoidAsync("downloadFileFromStream", fileName, streamRef);
    }

}
