
@page "/AntibodyTable"


<h1>Antibody Table</h1>


<MudDataGrid MultiSelection="true" Items="@antibodyTableInfos" Sortable="true" Filterable="true" QuickFilter="@_quickFilter">
    <ToolBarContent>
        <MudText Typo="Typo.h6">Antibody Table</MudText>
        <MudSpacer />
        <MudTextField @bind-Value="_searchString" Placeholder="Search" Adornment="Adornment.Start" Immediate="true"
                      AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0"></MudTextField>
    </ToolBarContent>
    <Columns>
        <Column T="AntibodyTableInfo" Field="Gene" />
        <Column T="AntibodyTableInfo" Field="AntibodyID" Title="ID"/>
        <Column T="AntibodyTableInfo" Field="AntibodyName" Title="Name"/>
        <Column T="AntibodyTableInfo" Field="TargetAntigen" />
        <Column T="AntibodyTableInfo" Field="Clonality" />
        <Column T="AntibodyTableInfo" Field="Reference" />
        <Column T="AntibodyTableInfo" Field="CloneID" />
        <Column T="AntibodyTableInfo" Field="HostOrganism" />
        <Column T="AntibodyTableInfo" Field="Vendor" />
        <Column T="AntibodyTableInfo" Field="CatNum" />
    </Columns>
    <PagerContent>
        <MudDataGridPager T="AntibodyTableInfo" />
    </PagerContent>
</MudDataGrid>


@code {

    private IEnumerable<AntibodyTableInfo> antibodyTableInfos = Enumerable.Empty<AntibodyTableInfo>();

    protected override async Task OnInitializedAsync()
    {
        var antibodyTableProvider = new AntibodyTableProvider(@"../HubmapProject/Resources/antibody_table_unconjugated.tsv");
        antibodyTableProvider.GenerateAntibodyTableInfos();
        antibodyTableInfos = antibodyTableProvider.GetAntibodyTableInfo();
    }

    private string _searchString;
    private bool _sortNameByLength;
    // custom sort by name length

    private Func<AntibodyTableInfo, object> _sortBy => x =>
    {
        if (_sortNameByLength)
            return x.Gene.Length;
        else
            return x.Gene;
    };
    // quick filter - filter gobally across multiple columns with the same input
    private Func<AntibodyTableInfo, bool> _quickFilter => x =>
    {
        if (string.IsNullOrWhiteSpace(_searchString))
            return true;

        if (x.Gene.Contains(_searchString, StringComparison.OrdinalIgnoreCase))
            return true;

        if ($"{x.AntibodyID}".Contains(_searchString))
            return true;

        return false;
    };
}

