
@page "/"
@inject NavigationManager NavigationManager

<PageTitle>Index</PageTitle>
<MudThemeProvider />
<h1>Smart Targets</h1>


<MudImage Src="SmartTargets.jpg" Alt="SmartTargets diagram" Elevation="25" Class="rounded-lg" />
<MudSpacer></MudSpacer>
<MudIconButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
               OnClick=ShowTissues>Tissues</MudIconButton>

<MudIconButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
               OnClick=ShowProteins>Proteins</MudIconButton>

@*<MudIconButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
               OnClick=ShowBup>BottomUp</MudIconButton>*@
@code{

    void ShowTissues()
    {
        NavigationManager.NavigateTo("/Tissues");
    }

    void ShowProteins()
    {
        NavigationManager.NavigateTo("/Proteins");
    }

    @*void ShowBup()
    {
        NavigationManager.NavigateTo("/BottomUp");
    }*@
}