@page "/Tissues"
@inject NavigationManager NavigationManager
@using HubmapBlazor.Data
@inject BupService BupService

<MudThemeProvider />

<h1>Tissues</h1>


<MudDataGrid MultiSelection="true" Items="@tissueList" Filterable="true">
    <ToolBarContent>
    </ToolBarContent>
    <Columns>
        <Column T="string">
            <CellTemplate>
                <MudIconButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
                               OnClick="@((e) => ShowProteins(@context))">@context</MudIconButton>
                        </CellTemplate>
                    </Column>
                </Columns>
                <PagerContent>
                    <MudDataGridPager T="string" />
                </PagerContent>
            </MudDataGrid>


            @code {

                private IEnumerable<string> tissueList = Enumerable.Empty<string>();

                protected override async Task OnInitializedAsync()
                {

                    tissueList = BupService.TissueList();

                }


                void ShowProteins(string tissue)
                {
                    NavigationManager.NavigateTo($"/Proteins?tissue={tissue}");
                }
            }

