@page "/Tissues"
@inject NavigationManager NavigationManager
@using HubmapBlazor.Data
@inject TissueProvider TissueProvider
 

<MudThemeProvider />

<h1>Tissues</h1>


<MudDataGrid MultiSelection="true" Items="@tissueList" Filterable="true">
    <ToolBarContent>
    </ToolBarContent>
    <Columns>
        <Column T="Tissue" Field="Name" Title="Tissue"/>
        <Column T="Tissue" Title="Protein Count">
            <CellTemplate>
                <MudIconButton Variant="Variant.Filled" Color="Color.Primary" Size="Size.Small"
                                OnClick="@((e) => ShowProteins(@context.Name))">
                    @context.Proteins
                        </MudIconButton>
                    </CellTemplate>
                </Column>
        <Column T="Tissue" Field="UniqueProteins" Title="Unique Protein Count" />
    </Columns>
    <PagerContent>
        <MudDataGridPager T="Tissue" />
    </PagerContent>
</MudDataGrid>


@code {

    private IEnumerable<Tissue> tissueList = Enumerable.Empty<Tissue>();

    protected override async Task OnInitializedAsync()
    {

        tissueList = TissueProvider.GetTissueInfos();

    }


    void ShowProteins(string tissue)
    {
        NavigationManager.NavigateTo($"/Proteins?tissue={tissue}");
    }
}

