@inherits LayoutComponentBase

<PageTitle>Target Repo</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        @*<div class="top-row px-4">
            <a href="/About" target="_self">About</a>
        </div>*@

        <article class="content px-4">
            @Body
        </article>

        <footer class="page-footer font-small grey lighten-3">
            <br />
            <a href="http://www.kelleher.northwestern.edu/">Kelleher Research Group</a>
            Version 1.0
            <br />
        </footer>
    </main>
</div>

